.errorcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - (70px + 150px));
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


.errorcontainer h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}


.erroricon {
  width: 600px;
  max-width: 80%;
  margin-bottom: 1rem;
  animation: float 3s ease-in-out infinite;
}



.errorcontainer p {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 15px;
}


.back-button {
  background-color: #DAA520;
  color: #0E0F20;
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(59, 91, 219, 0.2);
}

.back-button:hover {
  background-color: gold;
  transform: scale(1.05);
  color: rgb(18, 31, 80);
}


body {
  background: linear-gradient(135deg, #10101C, #2C2941);
}